$def with (result)
<html>
    <head>Coches
        <title>Coches </title>
        <link href="static/css/estilo2.css" media="screen" rel="stylesheet" type="text/css">
    </head>
    <body>

<table class="tabla"  >
    
    <th>
        SubMarca
    </th>
    <th>
        Modelo
    </th>
    
    <th>
        Ver 
    </th>
    <th>
        Editar 
    </th>
     <th>
        Eliminar 
    </th>
    $for row in result:
    <tr>
      <td>$row.SubMarca</td><td>$row.Modelo</td><td> 
          <a href="/ver/$row.id_auto"> <input  type="submit" value="Ver" /></a>  </td><td> <a href="/editar/$row.id_auto"> <input type="submit" value="Editar" /></a>  </td> <td><a href="/eliminar/$row.id_auto"><input type="submit" value="Eliminar" /></a> </td>
    </tr>
</table>
<br>
<form name="main" method="post"> 
<input type="submit" value="Nuevo" />   </form>
    </body>
</html>

