$def with (result)
<html>
    <head>
        
        <link href="../static/css/ver.css" media="screen" rel="stylesheet" type="text/css">
    </head>
    <body>
     $for row in result:
            <center> <img src="$row.Imagen" class="imagen" ></center>
<table border="3" class="tabla">
    <th>
        Marca
    </th>
    <th>
        SubMarca
    </th>
    <th>
        Modelo
    </th>
    <th>
        Descripcion
    </th>
   
    <tr>
      <td>$row.Marca</td><td>$row.SubMarca</td><td>$row.Modelo</td><td>$row.Descripcion</td>
    </tr>
</table>


    </body> 
</html>